---
const { 
  text = "Agendar clase gratuita", 
  variant = "hero", 
  className = "" 
} = Astro.props;

let classes = "px-4 py-2 text-md font-semibold rounded-full transition-all duration-300";
if (variant === "hero") {
  classes += " px-8 py-3 text-xl bg-[#F7D449] text-black border-2 border-[#F7D449] hover:scale-95";
} else if (variant === "header" || variant === "pricing") {
  classes += " border-2 border-[#F7D449] bg-[#F7D449] text-black hover:scale-95";
} else if (variant === "footer") {
  classes += " text-black border-2 border-black hover:bg-black hover:text-[#F7D449]";
} else if (variant === "mobile") {
  classes += " block bg-[#f7d54a] text-neutral-900 font-semibold py-2 rounded-full w-full text-center transition-colors duration-300";
}
classes += ` ${className}`;
const href = "https://calendly.com/marcterrera/english-sparring-free-1-hour-session";
---
<a href={href} class={classes} target="_blank" rel="noopener noreferrer">
  <span>{text}</span>
</a>