---
// Importamos las nuevas islas de React
import Starfield from './Starfield.jsx';
import AnimatedWords from './AnimatedWords.jsx';
import LogoBee from './LogoBee.jsx';
import ButtonBookNow from './ButtonBookNow.astro';

const { class: className, ...rest } = Astro.props;
---

<section id="home" 
  class:list={[
    "relative w-full h-[100dvh] overflow-hidden bg-black",
    className
  ]} data-section-theme="dark">

  <Starfield client:load />

  <main class="relative z-10 flex flex-col items-center justify-center w-full h-full p-4 text-center text-white">
    <div class="flex flex-col sm:flex-row items-center justify-center mb-4">
      <h1 class="text-6xl md:text-8xl lg:text-9xl font-black tracking-tighter text-white" data-bright>
        LingoHive
      </h1>
      <LogoBee client:visible
        className="w-[120px] h-[120px] sm:w-[80px] sm:h-[80px] md:w-[120px] md:h-[120px] lg:w-[150px] lg:h-[150px]"
      />
    </div>
    
    <AnimatedWords client:visible />

    
    <ButtonBookNow 
      className="mt-10 mb-3"
      text="Agendar clase gratuita"
      variant="hero"
    />

    <div class="flex items-center justify-center gap-x-2  text-md">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-5 h-5 text-[#F7D449]"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M2.25 12.75V12A2.25 2.25 0 0 1 4.5 9.75h15A2.25 2.25 0 0 1 21.75 12v.75m-8.69-6.44-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5 0 0 1-1.06-.44Z"
        />
      </svg>
      
      <span class="text-neutral-200"><span class="text-[#F7D449]">Gratis:</span> 1 Hora + Recursos</span>
    </div>

  </main>
</section>